<!DOCTYPE html>
<html lang="es" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <!-- CSS files-->
    <link rel="stylesheet" href="prism/prism.css">
    <style media="screen">
      html, body{
        width: 100%;
        height: 100%;
        margin: 0;
      }
      pre{
        margin: 0 !important;
      }
    </style>
  </head>

  <body>
    <pre class="line-numbers" data-src="../ejercicios/Ej1-Máximo-De-Una-Función/js/classes.js"></pre>
    <script src="prism/prism.js" charset="utf-8"></script>
  </body>

</html>
